<html>
    <head>
        <title class="config:app-title">App Title</title>
        <meta class="config:app-meta"/>
        <link rel="shortcut icon" href="resources/images/favicon.ico"/>
        <link rel="stylesheet" type="text/css" href="resources/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="resources/css/style.css"/>
        <!--<script type="text/javascript" src="resources/js/jquery-1.7.1.min.js"/>
        <script type="text/javascript" src="resources/js/ediromConfManager.js"/>-->
    </head>
    <body id="body">
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <a class="config:app-title brand" href="./index.html">App Title</a>
                    <ul class="app:get-top-nav nav">
                        <li/>
                    </ul>
                </div>
            </div>
        </div>
        <div id="content" class="container"/>
    </body>
</html>